<%- include('../partials/header') %>
<h2><%=title%></h2>
  <div class="car">
<img class="car" src="/images/c8.jpg">
  </div>
  
  <br>
  
  <div>
  <p>One of my favorite car as of now is the Chevrolet corvette stingray C8. It has the most amount of power and performance without compromising a lot of comfort and budget. It is the best car to buy and definitely a lot of car for the buck.</p>
    <ul>
      <li>Engine: 6.2L V8</li>
      <li>Performance: 495HP 470lb-ft</li>
      <li>MSRP: $55,000 - $120,000</li>
    </ul>
    </div>
  	    
<%- include('../partials/footer') %>