<%- include('../partials/header') %>
<h2><%=title%></h2>
<p>Apple has been leading the industry in making the best-performing machines without affecting practicality. The machines would perform very well with good battery life. That was until they made in house chip called M1 and it blew everyone's mind. Now that they make M1 Max it gives an outstanding performance with amazing battery life. Being able to code and program all the way to render and color code multiple 8K videos at the same time.</p>
  <div >
    <img class="m1" src="images/m1.jpg">
  </div>
  	    
<%- include('../partials/footer') %>