<%- include('../partials/header') %>
<h2><%=title%></h2>

  
<div>
<p>One of my favorite movies of all time has to be the Marvel Trilogy. It is really hard to pick and choose between any of the Marvel Cinematic Universe movies. Here are the Upcoming projects of the MCU </p>
</div>
  <div>
  <img src="/images/mcu.png"
</div>
  	    
<%- include('../partials/footer') %>